<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formapp.mapper.ContentMapper">

	<insert id="replySubj" parameterType="com.formapp.model.ReplyInfo">
		INSERT INTO subj_result(userIdx, contentIdx, answer) VALUES(#{userIdx}, #{contentIdx}, #{subjReply})
	</insert>
	
	<insert id="replyObj" parameterType="com.formapp.model.ReplyInfo">
		INSERT INTO obj_result(userIdx, entryIdx) VALUES(#{userIdx}, #{objReply})
	</insert>

</mapper>