<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formapp.mapper.FormMapper">

	<select id="formList" resultType="com.formapp.vo.FormVO">
		SELECT * FROM form
		ORDER BY formIdx
	</select>
	
	<select id="formDetail" resultType="com.formapp.vo.FormVO" parameterType="int">
		SELECT * FROM form
		WHERE formIdx=#{formIdx}
	</select>
	
	<select id="contentList" resultType="com.formapp.vo.ContentVO" parameterType="int">
		SELECT * FROM content
		WHERE formIdx=#{formIdx}
	</select>
	
	<select id="objEntryList" resultType="com.formapp.vo.EntryVO" parameterType="int">
		SELECT * FROM obj_entry WHERE contentIdx=#{contentIdx}
	</select>
	
	<select id="objResult" resultType="com.formapp.vo.ObjResultVO" parameterType="int">
		SELECT R.userIdx, R.entryIdx
		FROM obj_result R JOIN obj_entry E
		WHERE R.entryIdx = E.entryIdx AND E.contentIdx=#{contentIdx}
	</select>
	
	<select id="subjResult" resultType="com.formapp.vo.SubjResultVO" parameterType="int">
		SELECT R.userIdx, R.contentIdx, R.answer
		FROM subj_result R JOIN content C
		WHERE R.contentIdx = C.contentIdx AND C.contentIdx=#{contentIdx}
	</select>
	
	<select id="findUser" parameterType="String" resultType="Integer">
		SELECT userIdx FROM user WHERE id=#{id}
	</select>
	
	<insert id="formCreate" parameterType="com.formapp.vo.FormVO">
		INSERT INTO form(userId, title) VALUES(#{userId}, #{title})
		<selectKey keyProperty="formIdx" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID() as formIdx
		</selectKey>
	</insert>
	
	<insert id="formUserCreate" parameterType="int">
		INSERT INTO user_form(userIdx, formIdx) values(#{userIdx}, #{formIdx})
	</insert>

	<insert id="contentCreate" parameterType="com.formapp.vo.ContentVO">
		INSERT INTO content(formIdx, question, description) VALUES(#{formIdx}, #{question}, #{description})
		<selectKey keyProperty="contentIdx" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID() as contentIdx
		</selectKey>
	</insert>
	
	<insert id="entryCreate" parameterType="com.formapp.vo.EntryVO">
		INSERT INTO obj_entry(contentIdx, entry) VALUES(#{contentIdx}, #{entry})
	</insert>
	
	<delete id="deleteUserForm" parameterType="int">
		DELETE FROM user_form WHERE formIdx=#{formIdx}
	</delete>
	
	<delete id="deleteForm" parameterType="int">
		DELETE FROM form WHERE formIdx=#{formIdx}
	</delete>
	
</mapper>