<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formapp.mapper.UserMapper">

	<select id="login" resultType="com.formapp.vo.UserVO">
		SELECT * FROM user
		WHERE id=#{id} AND password=#{password}
	</select>

</mapper>